extends layout

block content
    div(class="formWrap")
        form(method="POST" action="/new")
            div(class="author") Author:
                input(type="text" name="author")

            div(class="message") Message:
                input(type="text" name="message")
                
            div
                a(href="/") Back to board 
                button(type="submit") Add message