extends layout

block content
    div.formWrap
        form(method="POST")
            div.author Author:
                input(type="text" name="username")
            div.message Message:
                input(type="text" name="content")
            div
                button(type="submit") Add message
                a(href="/") Back to board 