extends layout

block content
    div.messageBoard
        div.titleWrap
            h1 Message Board
            a(href="/messages/create") Add new message
        ul
            each message, index in messages
                div.message
                    p.index= `${index + 1}.`
                    li
                        div.top
                            p= `Author: ${message.username}`
                            p= message.created_at
                        h3= message.content

