/* normalize */
@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
